main {
	margin: 50px 50px;
}

.container {
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.container2 {
	padding: 50px 50px;
}

.container-inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 15px;
}

.container-inputs-2 {
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding-top: 15px;
}

.input-detalles-2 {
	width: 100%;
	height: 30px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.label-detalles-2 {
	width: 200px;
	display: flex;
	align-items: center;
}

.input-detalles {
	width: 320px;
	height: 30px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.container-activo-detalles-1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.parte-2 {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.btn {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.color-main {
	background-color: #141b4d;
	color: white;
}

.container-img {
	width: 250px;
	height: 250px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.container-img img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

textarea {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#descripcion-garantia {
	width: 100%;
}

.container-activo-detalles-2 {
	padding-top: 50px;
}

.container-activo-detalles-2 h3 {
	font-size: 20px;
	text-align: center;
}

.container-activo-detalles-3 {
	padding-top: 50px;
}

.container-activo-detalles-3 h3 {
	font-size: 20px;
	text-align: center;
}
