header {
  width: 100%;
  height: 60px;
  background-color: rgba(20, 27, 77, 0.85);
   border: 0.5px solid rgba(0, 0, 0, 0.5);
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 0 50px 0 170px;
  position: relative;
  z-index: 3;


}

.container-lytle{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.container-logo {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
width: 100%;
height: auto;
}

h1{
  font-size: 20px;
  color: white;

}

.header-actions{
  display: flex;
  align-items: center;
  gap: 20px;
}
.icon-notification {
  width:20px;
  height: 20px;
  cursor: pointer;
  filter: brightness(1);
  transition: filter 0.3s ease;
}

.icon-notification:hover {
  filter: brightness(1.2);
}



.profile-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;

}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

}
