
.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 30px 17px;
  gap: 100px;
}

.seccion-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.section-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.total-activos {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.total-activos--titulo {
  height: 40px;
  color: white;
  background-color: #141B4D;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-activos--numero {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.total-activos--numero p {
  font-size: 30px;
}

.activos-vs-disponibles {
  display: flex;
  flex-direction: column;
  width: 515px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.activos-vs-disponibles--titulo {
  height: 40px;
  color: white;
  background-color: #141B4D;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activos-vs-disponibles--grafico {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
  overflow: hidden;
}

.tendencia-mensual {
  display: flex;
  flex-direction: column;
  width: 515px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tendencia-mensual--titulo {
  height: 40px;
  color: white;
  background-color: #141B4D;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}



