<!-- Encabezado de la aplicación -->
<app-header></app-header>

<div
  [ngClass]="[
    isLoginPage() ? 'container-login' : '',
    isLoginPage() ? 'login-layout' : ''
  ]"
  class="main-grid">

  <!-- Primera columna: Navbar -->
  @if (showNavbar()) {
    <div class="navbar-column">
      <app-navbar></app-navbar>
    </div>
  }

  <!-- Segunda columna: Contenido principal (router-outlet) -->
  <div class="content-column">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Pie de página de la aplicación -->
<app-footer></app-footer>
