.main-grid {
	display: grid;
	grid-template-columns: 120px 1fr;
	min-height: 100vh;
	background-color: var(--color-bg);
}

/* Reset para el Login */
.full-height-login {
	grid-template-columns: 1fr !important;
	padding-top: 0 !important;
	min-height: 100vh !important;
}

.full-height-login .content-column {
	padding: 0 !important; /* Quitar el padding de contenido en login */
}

.full-height-login .router-wrapper {
	padding: 0 !important;
}

.container-login {
	display: flex;
	width: 100%;
	min-height: 100vh;
	background-color: var(--color-surface);
}

.login-layout {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navbar-column {
	width: 120px;
	position: relative;
	z-index: 5;
}

.content-column {
	background-color: transparent;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 0; /* Quitamos padding aquí para manejarlo internamente */
}

.router-wrapper {
	flex: 1;
	padding: 20px;
	width: 100%;
}

app-footer {
	width: 100%;
	margin-top: auto;
}
