main {
	padding: 50px 50px;
	width: 100%;
}

.imagen-circular {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #ddd;
	display: block;
	margin: 0 auto;
}

.texto-na {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #777;
	font-weight: bold;
	margin: 0 auto;
}

.busqueda {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}
.barra-busqueda {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.barra-de-busqueda {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.filtros {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.opciones {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.orden {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.direccion {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.container-filtros {
	display: flex;
	flex-direction: row;
	gap: 15px;
	margin-left: 50px;
}

.barra-busqueda input {
	width: 360px;
	height: 37px;
	border-radius: 5px;
	box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.25);
	padding: 10px 10px;
}
.barra-busqueda input::placeholder {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.25);
}

.filtros select {
	width: 120px;
	height: 37px;
	border-radius: 5px;
	box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.25);
	padding: 10px 10px;
	text-align: center;
	color: rgba(0, 0, 0, 0.25);
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.opciones select {
	width: 120px;
	height: 37px;
	border-radius: 5px;
	box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.25);
	padding: 10px 10px;
	text-align: center;
	color: rgba(0, 0, 0, 0.25);
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.orden select {
	width: 120px;
	height: 37px;
	border-radius: 5px;
	box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.25);
	padding: 10px 10px;
	text-align: center;
	color: rgba(0, 0, 0, 0.25);
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.direccion select {
	width: 120px;
	height: 37px;
	border-radius: 5px;
	box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.25);
	padding: 10px 10px;
	text-align: center;
	color: rgba(0, 0, 0, 0.25);
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.btn-agregar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 37px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
	background-color: #141b4d;
	color: white;
	font-size: 12px;
	gap: 10px;
	cursor: pointer;
}

.tabla-activos table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.tabla-activos th,
.tabla-activos td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.tabla-activos th {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 800;
	background-color: #f4f4f4;
}

.btn-ver-detalles {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 25px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
	background-color: #141b4d;
	color: white;
	font-size: 12px;
	cursor: pointer;
}

.container-paginacion {
	padding: 20px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pagination {
	background-color: white;
	width: 476px;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

/* Estilo general para los botones de paginación */
.pagination button {
	background-color: #fff; /* Fondo blanco por defecto */
	color: #333; /* Texto oscuro */
	padding: 0 5px; /* Espaciado interno */
	cursor: pointer;
	font-size: 14px;
	transition:
		background-color 0.3s ease,
		color 0.3s ease; /* Transición suave */
}

/* Estilo para el botón activo */
.pagination button.active {
	background-color: #141b4d; /* Color azul para el botón activo */
	color: #fff; /* Texto blanco */
	border-color: #007bff; /* Borde azul */
	font-weight: bold; /* Texto en negrita */
	border-radius: 10px;
}

/* Hover para los botones no activos */
.pagination button:hover:not(.active) {
	background-color: #f0f0f0; /* Fondo claro al pasar el mouse */
	border-color: #aaa; /* Borde más oscuro */
	border-radius: 10px;
}

.pagination-info {
	color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	align-items: center;
}
.limite-pagina {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}
.limite-pagina select {
	border-radius: 5px;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.btn-limpiar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 37px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	font-size: 12px;
	gap: 10px;
	cursor: pointer;
}

.btn-limpiar:hover {
}

.btn-limpiar img {
	width: 16px;
	height: 16px;
}

.container-boton {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-botones {
	display: flex;
	flex-direction: row;
	gap: 30px;
}
input:focus {
	outline: 1px solid #141b4d; /* Cambia el color al que tú quieras */
	border-radius: 4px; /* Opcional, solo para que se vea más suave */
}
select:focus {
	outline: 1px solid #141b4d; /* Cambia el color al que tú quieras */
	border-radius: 4px; /* Opcional, solo para que se vea más suave */
}
.highlight {
	background-color: yellow; /* Fondo amarillo */
	font-weight: bold; /* Texto en negrita */
	color: black; /* Color del texto */
	padding: 0 2px; /* Espaciado interno */
	border-radius: 3px; /* Bordes redondeados */
}
