main {
	padding: 50px 50px;
	width: 100%;
}

.container {
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.container-2 {
	width: 540px;
	margin: 50px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form-group {
	padding-top: 15px;
	display: flex;
	flex-direction: column;
}

.seccion-2 {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.btn-generar {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
	background-color: #141b4d;
	color: white;
	cursor: pointer;
}

.btn-limpiar {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	color: black;
}

.contenedor-reporte {
	margin: 50px;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
	width: 80%;
	display: flex;
	flex-direction: column;
}

.contenedor-reporte h2 {
	text-align: center;
}

.container-filtros {
	padding-top: 20px;
}

.container-graficos h3 {
	text-align: center;
}

.graficos {
	display: flex;
	gap: 20px;
	padding-top: 20px;
}

.grafica-pastel h4 {
	text-align: center;
}
.grafica-barras h4 {
	text-align: center;
}

.container-tabla {
	padding-top: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

.grafica-pastel,
.grafica-barras {
	flex: 1;
	min-width: 300px;
}

.form-group textarea {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 65px;
}
.container-botones {
	padding-top: 50px;
	display: flex;
	justify-content: center;
}

.btn-exportar {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
	background-color: #141b4d;
	color: white;
	cursor: pointer;
}

.form-group .date-range {
	width: 100%;
	height: 36px;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 8px;
}

input {
	width: 100%;
}
