main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-login {
  width: 600px;
  height: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 0.5px solid rgba(0, 0, 0, 0.20);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

form {
  width: 100%;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}

.container-titulo h1 {
  font-size: 32px;
  padding: 20px 0;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  height: 150px;
}

label {
  font-size: 16px;
  padding: 10px 0;
}

.input-email {
  position: relative;
  width: 100%;
}

.input-email input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  padding-right: 40px;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.input-password {
  position: relative;
  width: 100%;
}

.input-password input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  padding-right: 40px;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  outline: 2px solid rgba(0, 123, 255, 0.7);
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
}


.input-password .btn-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-password .btn-password img {
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease, transform 0.2s ease;
}

.btn-password:hover img {
  filter: brightness(0.8);
}

.btn-password:active img {
  transform: scale(0.9);
}

.error-message {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 4px;
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.error-message img {
  width: 16px;
  height: 16px;

}

.btn-login {
  width: 100%;
  height: 50px;
  font-size: 20px;
  background-color: rgba(20, 27, 77, 0.85);
  color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.btn-login:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn-login:active {
  background-color: #141B4D;
  transform: scale(0.99);
}
