<nav>
  <!-- Contenedor principal de la barra de navegación -->
  <div class="navbar-container">
    <!-- Enlace a la página de inicio -->
    <app-caja-nav
      label="Inicio"
      route="/dashboard"
      icon="https://gestor-assets.mgdc.site/icono-inicio.png"
      routerLinkActive="active"
    ></app-caja-nav>

    <!-- Enlace a la gestión de activos -->
    <app-caja-nav
      label="Gestión de Activos"
      route="/gestion-activos"
      icon="https://gestor-assets.mgdc.site/icono-gestion-activos.png"
      routerLinkActive="active"
    ></app-caja-nav>

    <!-- Enlace a las asignaciones -->
    <app-caja-nav
      label="Asignaciones"
      route="/asignaciones"
      icon="https://gestor-assets.mgdc.site/icono-asignaciones.png"
      routerLinkActive="active"
    ></app-caja-nav>

    <!-- Enlace a los reportes -->
    <app-caja-nav
      label="Reportes"
      route="/reportes"
      icon="https://gestor-assets.mgdc.site/icono-reportes.png"
      routerLinkActive="active"
    ></app-caja-nav>

    <!-- Enlace a la configuración -->
    <app-caja-nav
      label="Configuración"
      route="/configuracion"
      icon="https://gestor-assets.mgdc.site/icono-configuracion.png"
      routerLinkActive="active"
    ></app-caja-nav>
  </div>
  <!-- Botón de Cerrar Sesión -->
  <div class="logout-button-container">
    <button class="logout-button" (click)="cerrarSesion()">
      <img src="https://gestor-assets.mgdc.site/logout.png" alt="Cerrar Sesión" />
      <p>Cerrar Sesión</p>
    </button>
  </div>
</nav>
