nav {
	width: 120px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 0.5px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.navbar-container {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	gap: 20px;
}

.logout-button-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.logout-button {
	width: 97px;
	height: 90px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: black;
	text-decoration: none;
	gap: 10px;
}

.logout-button img {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}

.logout-button:hover {
	color: #ff0000;
}
