main {
	padding: 50px 50px;
	width: 100%;
	height: auto;
}

.container {
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.container-2 {
	padding: 50px 50px;
	width: 100%;
}

.container-inputs {
	width: 100%;
	height: 100%;
}

.form-group {
	margin-bottom: 15px;
	width: 330px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input {
	width: 330px;
	height: 36px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}

:host ::ng-deep .ng-select {
	font-family: Arial, sans-serif;
	font-size: 12px;
	border-radius: 5px;
	background-color: #fff;
}

:host ::ng-deep .ng-select .ng-select-container {
	width: 330px;
}

.form-buttons {
	display: flex;
	gap: 50px;
	justify-content: center;
	padding-top: 50px;
}

.btn-guardar {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
	background-color: #141b4d;
	color: white;
	cursor: pointer;
}

.btn-cancelar {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	color: black;
}

.container-titulo {
	text-align: center;
}

.configuracion-perfil {
	padding-top: 50px;
}

.contenido {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

input::placeholder {
	color: gray;
	font-size: 12px;
}

:host ::ng-deep .ng-select.focused {
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

:host ::ng-deep .ng-select.disabled {
	background-color: #f5f5f5;
	color: #aaa;
	cursor: not-allowed;
}

:host ::ng-deep .ng-dropdown-panel {
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

:host ::ng-deep .ng-dropdown-panel .ng-option {
	padding: 8px 12px;
	cursor: pointer;
	width: 100%;
}

:host ::ng-deep .ng-dropdown-panel .ng-option:hover {
	background-color: #f0f8ff;
}

:host ::ng-deep .ng-dropdown-panel .ng-option.selected {
	background-color: #007bff;
	color: #fff;
}

.container-img {
	width: 250px;
	height: 250px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.form-group-img {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-group-img input {
	width: 100%;
	display: flex;
	flex-direction: column;
}
input:focus {
	outline: 1px solid #141b4d;
	border-radius: 4px;
}
.preview-img {
	width: 100%;
	height: 100%;
	margin-top: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
