.container {
  margin: 50px 50px;
  border: 0.5px solid rgba(0, 0, 0, 0.20);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.parte-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.parte-2 {
  width: 100%;
  padding-top: 100px;
}

.section-garantia {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.input-garantia {
  width: 100%;
  border-radius: 5px;
}

.textarea-garantia {
  width: 100%;
}


.section-3 {}

.container-img {
  width: 250px;
  height: 250px;
  border: 0.5px solid rgba(0, 0, 0, 0.20);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-img input {
  width: 100%;
  border: 0;

}

.container-inputs-garantia {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;
  gap: 50px;
}

.container-inputs-garantia label {
  width: 200px;
  height: auto;

}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 50px;
}

.container-inputs {
  display: flex;
  padding-top: 20px;
  gap: 10px;
}

div {
  display: flex;
  flex-direction: column;
}

label {

  font-weight: 800;
}

input,
select,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 330px;
  height: 36px;
}



button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


:host ::ng-deep .ng-select {
  font-family: Arial, sans-serif;
  font-size: 12px;
  border-radius: 5px;
  background-color: #fff;
}

:host ::ng-deep .ng-select .ng-select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


input::placeholder {
  color: gray;
  font-size: 12px;
}

:host ::ng-deep .ng-select.focused {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

:host ::ng-deep .ng-select.disabled {
  background-color: #f5f5f5;
  color: #aaa;
  cursor: not-allowed;
}


:host ::ng-deep .ng-dropdown-panel {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


:host ::ng-deep .ng-dropdown-panel .ng-option {
  padding: 8px 12px;
  cursor: pointer;

}

:host ::ng-deep .ng-dropdown-panel .ng-option:hover {
  background-color: #f0f8ff;
}


:host ::ng-deep .ng-dropdown-panel .ng-option.selected {
  background-color: #007bff;
  color: #fff;
}


.botones-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 50px;
}

.btn-guardar {
  width: 200PX;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
  background-color: #141B4D;
  color: white;
  cursor: pointer;
}

.btn-cancelar {
  width: 200PX;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}

input:focus {
  outline: 1px solid #141B4D;
  border-radius: 4px;
}


.preview-img {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn-danger{
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.image-actions {
  padding: 50px 0;
  display: flex;
  gap: 10px;
}
