/* Box sizing y márgenes/paddings */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*  Tipografías */
body,
label {
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
	color: #000;
}

input,
button,
textarea,
select {
	font: inherit;
	outline: none;
	border: none;
	background: none;
}

/*  Estilos para encabezados */
h1,
h2,
p {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
}

/*  Etiquetas comunes */
label,
button {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
}

/*  Imágenes responsivas por defecto */
img,
picture,
video,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

/*  Listas sin viñetas y sin márgenes */
ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*  Enlaces sin subrayado por defecto */
a {
	text-decoration: none;
	color: inherit;
}

/*  Quitar márgenes automáticos en formularios */
form {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
