footer {
	width: 100%;
	height: 80px;
	background-color: rgba(20, 27, 77, 0.85);
	border: 0.5px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	color: white;
}
